* {
    padding: 0;
    margin: 0;
    font-family:  'Times New Roman', Times, serif;
    color: black;
  
}
header {
    height:70px;
   
}
header h1 {
    display: block;
    float: left;
    padding: 16px 24px;
    font-size: 40px;
    text-transform: uppercase;
}
header h1 a {
    transition: .4s;
}
header h1 a:hover {
    color:indianred;
}
header ul {
   
    float: right;
}    
header ul li{
    font-size: 23px;
    padding: 24px;
    display: inline-block;
}
header ul li{
    transition: .4s;
}
header ul li a:hover{
    color:indianred;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
   
}
.container {
    content: '' ;
    display: block;
    clear: both;
}
.mobile-menu {
    float: right;
    display: none;
    padding: 18px;
    
}
.mobile-menu:hover{
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color:lightcyan;
    transition: 0.4s;
    z-index: 9999;
}
.sidebar ul li a {
    color: black;
   
}
.sidebar ul li {
    padding: 24px;
    transition: 0.3s;
    transition-property: background-color;
}
.banner{
    background-color:darkblue;
    padding: 150px 0;
}
.banner h2,
.banner p,
.banner span {
    color: white;

}
.banner p{
    font-size: 18px;
}
.banner img{
    width: 120px;
    border-radius: 18px;
    box-shadow: 0 4px 6px #ddd;
    margin-bottom: 12px;
}
.banner-left {
    padding-left: -24px;
}
.banner h2{
    margin-bottom: 12px;
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
   
}
section h3::before {
	content:'';
	display: block;
	position: absolute;
	bottom: 0;
	width:120px;
	height:1px;
	background-color: #ddd;
    left: calc(50% - 60px);
    
}
section h3::after {
	content:'';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height:4px;
	background-color: red;
    left: calc(50% - 20px);
    
}
section{
    padding: 50px;
}
.sidebar ul li:hover{
    background-color: indianred;
    border: 1px solid;
}
#check:checked ~ .sidebar {
    left: 0;
}
#about p{
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}
#skills {
    background-color:lightseagreen;

}

#skills .bar{
    height: 30px;
    background-color: #fff;
    border: 2px solid aqua;
    margin: 5px 0 20px 0;
}
.bar .nilai{
    height: 30px;
    background-color:greenyellow;
    display: inline-block;
    color: black;
    text-align: center;
    
}
.html{
    width: 15%;
}
.css {
    width: 10%;
}
.js {
    width: 5%;
}
.nt {
    width: 20%;
}
.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}
.col-4 img {
    width: 100%;
}
.col-4 a:hover img {
    transform: scale(1.2);
}
.col-3{
    width: 33.33%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    
}
#portfolio {
 
    padding-bottom: 500px;
}
#contact {
    border: 1px solid black;
    padding-bottom: 200px;
    background-color:lightsalmon;
    
}
footer {
    background-color: grey;
    padding: 50px;
    text-align: center;
}
footer small {
    color: honeydew;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul {
        display: none;
    }
    .col-4{
        width: 50%;
    }
    #portfolio{
        padding-bottom: 700px;
    }
    
}
